@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    overflow: hidden;
}



.container-fluid img{
    height: 40px;
}

.navbar{
    font-family: 'Italiana', serif;
    font-size: 1.5em;
    border-bottom: 2px solid black;
}



li{
    padding: 20px;
}

.navbar-brand{
    padding-left: 30px;
    font-size: 1.3em;
}

.nav-item1 {
    padding-right: 100px;
}

.nav-item2 {
    padding-right: 100px;
}


.container-index {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(./images/irina-iriser-2Y4dE8sdhlc-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    position: relative;
    background-color: white;
    height: 60%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon1 {
    padding-top: 2em;
}

.icon1 img {
    height: 5em;
    width: 6em;
}

h1 {
    font-size: 3em;
    font-family: 'Italiana', serif;
}

.container-grid1 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: white solid 50px;
}

.grid-box1 {
    height: 20em;
    /* grid-area: 1 / 1 / 2 / 2; */
    background-image: url(./images/oak.jpg);
    background-size: cover;
}

.grid-box2 {
    /* grid-area: 1 / 2 / 2 / 3; */
    height: 70%;
    text-align: start;
    padding-left: 15px;
    padding-top: 30px;
}

.grid-box3 {
    height: 20em;
    /* grid-area: 1 / 3 / 2 / 4; */
    background-image: url(./images/pine.jpg);
    background-size: cover;
}

.grid-box4 {
    height: 70%;
    /* grid-area: 1 / 4 / 2 / 5; */
    text-align: start;
    padding-left: 15px;
    padding-top: 30px;
}

.grid-box5 {
    height: 70%;
    /* grid-area: 2 / 1 / 3 / 2; */
    background-image: url(./images/coltsfoot.jpg);
    background-size: cover;
}

.grid-box6 {
    height: 70%;
    /* grid-area: 2 / 2 / 3 / 3; */
    text-align: start;
    padding-left: 15px;
    padding-top: 30px;
}

.grid-box7 {
    height: 70%;
    /* grid-area: 2 / 3 / 3 / 4; */
    background-image: url(./images/nettle.jpg);
    background-size: cover;
}

.grid-box8 {
    height: 70%;
    /* grid-area: 2 / 4 / 3 / 5; */
    text-align: start;
    padding-left: 15px;
    padding-top: 30px;
}

@media (max-width: 767px){
    .navbar-brand{
        display: none;
    }

    .nav-item1, .nav-item2{
        padding-right: 0px;
    }

    .container-grid1 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .grid-box1, .grid-box2, .grid-box3 {
        height: 100em;
        width: 20em;
    }
}